@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Prompt:wght@300&display=swap");

html {
	background-color: #fff5e4;
	font-family: "Prompt", sans-serif;
	color: #37363b;
	font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Concert One", cursive;
}

h1 {
	text-align: center;
	color: #850e35;
}

.my-border {
	color: purple;
	font-weight: bold;
}

.content-div {
	font-family: "Concert One", cursive;
}

img {
	width: 550px;
}

a:link,
a:visited {
	color: #61988e;
}
a:hover {
	color: #bf9aca;
}

code {
	background-color: rgb(252, 252, 252);
	font-size: 15px;
}
